<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dogs Health Records</title>
  </head>
  <body>
    <h1>Exceptional Care, Always There</h1>
    <p>We're committed to providing truly exceptional care for your pet. The top priority of our team of experienced and caring vets is your pet's wellbeing. Our nationwide network of practices includes 27 pioneering 24 hour centres, meaning that we're open and here to help when you need us.</p>
    <a href="/dogs">Browse Registered Dogs</a>
  </body>
</html>
